@font-face {
    font-family: 'Kotori Rose';
    src: url('fonts/Kotor/KotoriRose-Regular.otf');
    font-weight: normal;
    font-style: normal;
url('fonts/Kotor/KotoriRose-Bold.otf');
}

@font-face {
    font-family: 'Kotori Rose';
    src: url('fonts/Kotor/KotoriRose-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Qeldorat';
    src: url('fonts/Qeldorat/Qeldorat.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Qeldorat';
    src: url('fonts/Qeldorat/Qeldorat-italic.otf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Bright';
    src: url('fonts/Bright/Bright.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    scroll-behavior: smooth;
    background-color: #F0F1FA;
    background-image: url(assets/my-noise.png);
    font-family: 'Kotori Rose', serif;
    padding: 0;
    margin: 0;
}